<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/edit.css">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Imagen
    </h1>
    <form id="homeBtn" action="/">
        <input type="submit" value="HOME">
    </form>
    <img src="https://picsum.photos/id/<%=id%>/200/300" alt="" width="200px" height="300px">
    <form action="/<%=id%>/<%=comment._id%>?_method=PUT" method="POST">
        <input type="text" name="body" value="">
        <input type="submit" value="Confirm Changes">
    </form>
</body>
</html>