<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imagenation</title>
  </head>
  <body>
    <h1>Imagenation</h1>
    <main>
      <img src="https://picsum.photos/id/1000/200/300" alt="Random pic" />
    </main>
  </body>
</html>
