html { 
    background-image: url('https://media.giphy.com/media/h5vFcvARn349ZaT27M/giphy.gif');
    background-color: white;

}
h1 {
    padding: 0px;
}
#title {
    text-align: center;
    background-image: url('');
    background-color: rgb(220, 37, 37);
    color: white;
    font-family: cursive;
    letter-spacing: 0px;
    font-size: 40px;
    border-radius: 15px;
    margin-left: 124px;
    -webkit-text-stroke: .5px;
}
#rfsh {
    position: absolute;
    margin-top: -90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 22.5px;
    border-radius: 15px;
    background-color: black;
    border-style: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover {
    filter: brightness(80%);
}
#images {
    border-radius: 10px;
    border-width: 10px;
}
#likeBtn {
    background: none;
    border-radius: 50%;
    left: 20px;
}